<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>View Bill</span>
        <span class="spacer">
            <button clas="mat-dialog-close" mat-icon-button mat-dialog-close>
                <mat-icon>cancel</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>

    </mat-toolbar> 
  <hr>

  <hr>
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
   

 
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>price</th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>quantity</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  